*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tabContainer .sss{
     background: transparent;
     backdrop-filter: saturate(180%) blur(10px);
     color: white;
}
.css-1aquho2-MuiTabs-indicator{
    display: none;
}

/* Media Query */

@media screen and (max-width: 767px) {

    .tabbbs{
        display: flex;
        flex-direction: column;
    }
     
 }