*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    background: url("../../images/starter-code/assets/home/background-home-desktop.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.headerSec{
    padding-top: 30px;
}

/* Media Query */

@media screen and (max-width: 767px) {
    
}