*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.horizontalLine{
    width: 600px;
    height:2px;
    background-color: white;
    position: absolute;
    left: 190px;
    /* z-index: 999; */
}
.navBar{
    width: 600px;
    padding: 20px;
    backdrop-filter: saturate(180%) blur(5px);
}
.logo{
    padding-left: 30px;
}

.menuIcon i{
    color: white;
    font-size: 25px;
}
.menuIcon{
    display: none;
}


/* Media Query */

@media screen and (max-width: 767px) {

    .horizontalLine{
        display: none;
    }
    .navBar{
        display: none;
    }
    .menuIcon{
        display: block;
        padding-right: 15px;
    }
    a{
        text-decoration: none;
        color: #0E0D1F;
    }
    li{
        list-style: none;
    }
    .hideBar{
        z-index: 999;
        padding-left: 20px;
        padding-top: 20px;
        background: white;
        /* backdrop-filter: saturate(180%) blur(10px); */
        color: #0E0D1F;
        width: 300px;
        height: 700px;
        text-align: left;
        display: flex;
        flex-direction: column;
    }
    .hideBar ul{
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        
    }
    .header{
        position: relative;
    }
    .hideBar{
        position: absolute;
        top:60px;
        right: 0px;
    }
    .closeBtn{
      position: relative;
    }
   .closeBtn i{
     position: absolute;
     right: 10px;
   }
    
}