*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.technology{
    background: url('../../images/starter-code/assets/technology/background-technology-desktop.jpg');
    background-color: #cccccc; /* Used if the image is unavailable */
    /* height: 100vh;  */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.technologyTitle{
    width: 100%;
    color: white;
    text-align: left;
    margin-top: 60px;
    padding-left: 60px;
    margin-bottom: 60px;
}
.ccc{
   margin-left: 200px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}
h5,span{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size:20px;
    letter-spacing: 2px;
}
h5{
            
    margin-top: 212px;
    margin-bottom: -80px;
    margin-left: 175px;
}
span{
    font-weight: 700;
    mix-blend-mode: normal;
    opacity: 0.25;
}

.Swiper{
    height: 80vh;
}
h4{
    font-size: 16px;
    font-family: 'Bellefair', serif;
    font-weight: 700;
    color: white;
}
.swiper-pagination {
    margin-bottom: 230px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.swiper-pagination-bullet{
    background-color: transparent;
    padding: 35px;
    display: flex;
     
    margin-top: 33px;
    opacity: 0.25;
    border: 1px solid #FFFFFF;
}
.swiper-pagination-bullet-active{
    background-color: blue;
    color: white;
    opacity: 1;
}

.technology-image{
    width: 500px;
    height: 300px;
}
.technology-text{
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.technologySliders{
    margin-left: 60px;
}

.technologyHeader{
    padding: 30px;
}

/* Media Query */

@media screen and (max-width: 767px) {
   
   .ccc{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    margin: 0px;
   }

   .technologySliders{
    position: relative;
   }

   .swiper-pagination {
      position: absolute;
      left: 280px;
      top: 550px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
     

   }
   .technology-text{
    text-align: center;
    padding: 0 15px;
   }
   .technology-image{
    width: 315px;
    height: 315px;
}
.technologySliders{
    margin: 0;
}

}

@media screen and (max-width: 320px){
    .technologyTitle{  
        text-align: center;
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
        padding-top: 30px;
    }

    .swiper-pagination{
        top: 650px; 
    }
    .swiper-pagination-bullet{
        padding: 20px;
    }
    .technology-image{
        width: 250px;
        height: 250px;
    }
}